SECRET_KEY=django-insecure-dukaanflow-change-this-in-production-key-998877
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.herokuapp.com,.render.com,.railway.app
DATABASE_URL=sqlite:///db.sqlite3
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
